@import "styles/colors.scss";
@import url("https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

* {
  font-family: DM sans;
}

body {
  background-color: $light;
  margin: 0;
}

main {
  min-height: 85vh;
  margin: 15px;
}

#container {
  margin: 0 auto;
  width: 1600px;
}
