@import "styles/colors.scss";

.container {
  background-color: $light;

  border-radius: 50%;
  position: fixed;
  height: 100px;
  width: 58px;
  padding-left: 42px;
  top: 10px;
  left: 45px;
  @media (max-width: 1920px) {
    left: 35px;
  }
  @media (max-width: 1600px) {
    left: 30px;
  }
  @media (max-width: 1300px) {
    left: 50%;
    margin-left: -60px;
  }
  @media (max-width: 768px) {
    position: relative;
    left: 50%;
  }
  animation-name: spin;
  animation-duration: 50000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  user-select: none;
  transition: width 500ms, height 500ms, margin-left 500ms;
  span {
    font: 22px DM mono;
    font-weight: 800;
    color: $dark;
    height: 50px;
    position: absolute;
    width: 15px;
    transform-origin: bottom center;
    transition: height 500ms;
  }
  &:hover {
    span {
      height: 50px;
    }
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

$spacing-deg: 26deg;
.char1 {
  transform: rotate(calc($spacing-deg * -2));
}
.char2 {
  transform: rotate(calc($spacing-deg * -1));
}
.char3 {
  transform: rotate(0deg);
}
.char4 {
  transform: rotate($spacing-deg);
}
.char5 {
  transform: rotate(calc($spacing-deg * 2));
}
.char6 {
  transform: rotate(calc(180deg - $spacing-deg * 3.5));
}
.char7 {
  transform: rotate(calc(180deg - $spacing-deg * 2.5));
}
.char8 {
  transform: rotate(calc(180deg - $spacing-deg * 1.5));
}
.char9 {
  transform: rotate(calc(180deg - $spacing-deg * 0.5));
}
.char10 {
  transform: rotate(calc(180deg + $spacing-deg * 0.5));
}
.char11 {
  transform: rotate(calc(180deg + $spacing-deg * 1.5));
}
.char12 {
  transform: rotate(calc(180deg + $spacing-deg * 2.5));
}
.char13 {
  transform: rotate(calc(180deg + $spacing-deg * 3.5));
}
