@import 'colors';

@mixin logo {
  display: inline-block;
  overflow: hidden;
  font-size: 3rem;
  font-weight: 900;
  transition-duration: 400ms;
  color: $black;
}

.navigation {
  display: flex;
  height: 100%;
}

.initials{
  margin: auto 2rem auto 2rem;
}

.name { 
  @include logo;
  max-width: 1.6rem;
}

.surname{
  @include logo;
  max-width: 1.8rem;
}

a:hover {
  .name{
    max-width: 10rem;
  }
  .surname{
    max-width: 13rem;
  }
}

@mixin menuItem {
  position: relative;
  color: $black;
  font-size: 1.5em;
  font-weight: 600;
}
.about {
  @include menuItem;
  margin: auto 2rem auto auto;
}
.test{
  @include menuItem;
  margin: auto 2rem auto 2rem;
}

